@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  div {
    font-feature-settings: "case" on;
  }

  .dark {
    transition: background-color 0.3s ease;
    background-color: #1c2a62;
  }
  .light {
    background-color: #ede7de;
    transition: background-color 0.3s ease;
  }
  .custom-order {
    --n-menu-title-order: 2;
  }
  .box-shadow-light {
    box-shadow: 0 0 0 2px #e2d7c573;
    transition: all 300ms ease;
  }
  .box-shadow-dark {
    transition: all 300ms ease;
    box-shadow: 0 0 0 2px #1d2f7642;
  }
  .box-shadow-light:hover {
    box-shadow: 0 0 0 4px #e2d7c573;
  }
  .box-shadow-dark:hover {
    box-shadow: 0 0 0 4px #1d2f7642;
  }
  .bounce-top {
    animation: bounce-top 3s ease-in-out infinite;
  }
  .bounce-bottom {
    animation: bounce-bottom 3s ease-in-out infinite;
  }
}

@keyframes bounce-top {
  0% {
    transform: translateY(0%) rotate(-6deg);
  }
  50% {
    transform: translateY(-22%) rotate(-12deg);
  }
  100% {
    transform: translateY(0%) rotate(-6deg);
  }
}

@keyframes bounce-bottom {
  0% {
    transform: translateY(0) rotate(4deg);
  }
  50% {
    transform: translateY(-32px) rotate(9deg);
  }
  100% {
    transform: translateY(0) rotate(4deg);
  }
}

@font-face {
  font-family: "Acorn";
  src: url("./[locale]/static-fonts/acorn.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("./[locale]/static-fonts/Graphik-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("./[locale]/static-fonts/firago-700.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    /* Set default font family */
    font-family: "Graphik", sans-serif;
  }
}
