@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  }

  .dark {
    transition: background-color 0.3s ease;
    background-color: #1c2a62;
  }
  .light {
    background-color: #ede7de;
    transition: background-color 0.3s ease;
  }
  .custom-order {
    --n-menu-title-order: 2;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
