@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --animation-cursor: 0.4s cubic-bezier(0.5, 0, 0.25, 1);
    --scrollbar-thumb-color: #2b3b7a;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  div {
    font-feature-settings: "case" on;
  }

  * {
    font-feature-settings: "case" on !important;
  }

  .dark {
    transition: all 0.3s ease;
    --scrollbar-thumb-color: #ede7de;
    background-color: #1c2a62;
  }

  .about_me_link_image:hover .about_me_link_button {
    border-radius: 0px !important;
  }
  .about_me_link_button:hover {
    border-radius: 4px !important;
  }

  .light {
    transition: all 0.3s ease;
    background-color: #ede7de;
    --scrollbar-thumb-color: #2b3b7a;
  }
  .custom-order {
    --n-menu-title-order: 2;
  }
  .box-shadow-light {
    box-shadow: 0 0 0 2px #e2d7c573;
    transition: all 300ms ease;
  }
  .box-shadow-dark {
    transition: all 300ms ease;
    box-shadow: 0 0 0 2px #1d2f7642;
  }
  .box-shadow-light:hover {
    box-shadow: 0 0 0 4px #e2d7c573;
  }
  .box-shadow-dark:hover {
    box-shadow: 0 0 0 4px #1d2f7642;
  }
  .bounce-top {
    animation: bounce-top 3s ease-in-out infinite;
  }
  .bounce-bottom {
    animation: bounce-bottom 3s ease-in-out infinite;
  }

  .light .skills_wrapper {
    background: radial-gradient(
      49.67% 88.67% at 69.2% 48.14%,
      rgb(78 183 235 / 56%) 0%,
      rgb(100 100 255 / 25%) 100%
    );
  }

  .dark .skills_wrapper {
    background: radial-gradient(
      49.67% 88.67% at 69.2% 48.14%,
      rgb(10 46 61 / 27%) 0%,
      rgb(8 22 61 / 60%) 100%
    );
  }

  .cursor-open {
    transform: scale(100%);
    transition: 0.4 ease;
  }
  .cursor-close {
    transform: scale(0%);
    transition: 0.4 ease;
  }

  .hamburger:hover line {
    background-color: red;
  }

  .custom-scrollbar,
  .custom-posts-scrollbar,
  .custom-linkedin-scrollbar,
  .blue-scrollbar {
    unicode-bidi: isolate;
    -webkit-overflow-scrolling: auto;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .blue-scrollbar::-webkit-scrollbar {
    width: 9px;
  }

  .custom-posts-scrollbar::-webkit-scrollbar {
    height: 8px;
  }

  .custom-linkedin-scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-track,
  .custom-posts-scrollbar::-webkit-scrollbar-track,
  .custom-linkedin-scrollbar::-webkit-scrollbar-track,
  .blue-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb,
  .custom-posts-scrollbar::-webkit-scrollbar-thumb,
  .custom-linkedin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2b3b7a;
    cursor: pointer;
    border-radius: 10px;
  }

  .blue-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    cursor: pointer;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover,
  .custom-posts-scrollbar::-webkit-scrollbar-thumb:hover,
  .custom-linkedin-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #1b2b6d;
  }

  .navButton_dark::before,
  .navButton_light::before,
  .navButton_dark--open,
  .navButton_light--open {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    padding: 1px;

    transition: background-color 0.3s ease-in-out;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
  }
  .navButton_dark--open,
  .navButton_dark::before {
    background: #ede7de;
  }

  .navButton_light--open,
  .navButton_light::before {
    background: #283d8b;
  }

  .navButton_light,
  .navButton_dark {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mask,
  .body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;
  }

  .mask span,
  .body span {
    color: #ec4e39;
  }

  .animation-cursor {
    transition: transform var(--animation-cursor) 0.1s;
  }
  .animation-cursor-off {
    transition: transform var(--animation-cursor) 0s;
  }

  .services_wrapper::after {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    top: -50px;
    width: calc(100% + 40px);
    height: 100px;
    background: #cdcdcd;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
  }
  .services_wrapper::before {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    bottom: -70px;
    width: calc(100% + 40px);
    height: 100px;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
  }

  .parallax_scroller span {
    display: block;
    margin-right: 30px;
  }

  .service::before {
    content: "";
    position: absolute;
    background-color: #3656f50a;
    border-radius: 100%;
    height: 42px;
    width: 42px;
    top: 0;
    left: 0;
  }

  .service::after {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    border-radius: 24px;
    color: #fff;
    display: flex;
    font-size: 15px;
    font-weight: 500;
    height: 24px;
    justify-content: center;
    left: 9px;
    letter-spacing: 0.25px;
    line-height: 1;
    position: absolute;
    top: 9px;
    width: 24px;
  }
  @media screen and (min-width: 420px) {
    .parallax_scroller span {
      margin-right: 16px;
    }
  }

  @media screen and (min-width: 768px) {
    .services_wrapper::after {
      left: -30px;
      right: -30px;
      top: -88px;
      width: calc(100% + 60px);
      height: 230px;
    }
    .services_wrapper::before {
      left: -30px;
      right: -30px;
      bottom: -140px;
      width: calc(100% + 60px);
      height: 230px;
    }
    .parallax_scroller span {
      margin-right: 24px;
    }
    .project_wrapper:hover div {
      border-radius: 60%;
    }
  }
  @media screen and (min-width: 1024px) {
    .service::before {
      height: 50px;
      width: 50px;
    }

    .service::after {
      border-radius: 28px;
      font-size: 18px;
      height: 28px;
      left: 11px;
      top: 11px;
      width: 28px;
    }
  }
}

@keyframes bounce-top {
  0% {
    transform: translateY(0%) rotate(-6deg) scale(0.99);
  }
  50% {
    transform: translateY(-22%) rotate(-12deg) scale(1.08);
  }
  100% {
    transform: translateY(0%) rotate(-6deg) scale(0.99);
  }
}

@keyframes bounce-bottom {
  0% {
    transform: translateY(0) rotate(4deg) scale(0.99);
  }
  50% {
    transform: translateY(-32px) rotate(9deg) scale(1.08);
  }
  100% {
    transform: translateY(0) rotate(4deg) scale(0.99);
  }
}

@font-face {
  font-family: "Graphik";
  src: url("./[locale]/static-fonts/Graphik-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("./[locale]/static-fonts/FiraGO-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("./[locale]/static-fonts/FiraGO-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("./[locale]/static-fonts/FiraGO-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("./[locale]/static-fonts/FiraGO-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("./[locale]/static-fonts/FiraGO-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geom";
  src: url("./[locale]/static-fonts/Geom-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: "Graphik", sans-serif;
  }
}
